@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    --blue: rgb(1, 1, 77);
    --primary: #007bff;
    --hover-bg: #0069d9;
    --focus: #0062cc;
    --success: #28a745;
    --info: #17a2b8;
    --hover-info: #147786;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}

body{
    background-color: var(--light);
    color: var(--blue);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Concert One', cursive;
}


h1{
    font-size: 2rem;
    font-weight: 500;
}

p{
    font-size: 2rem;
    margin: 1rem auto;
}

a{
    text-decoration: none;
    color: var(--light);
}

.container{
    width: 80%;
    margin: auto;
    border: 2px solid var(--orange);
}


.text-center{
    text-align: center;
}

.up img{
    width: 10rem;
}

.float-right{
    text-align: right;
    font-size: 1.5rem;
    margin: 0 4rem 0 0;
}

#mistakes{
    color: var(--danger);
}

#keyboard{
    width: 80%;
    margin: auto;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation: loop 1s infinite;
}

@keyframes loop{
    from{color: var(--danger);}
    to{color: var(--warning);}
}

.btn{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    border-style: none;
}

.btn-keyboard{
    background-color: var(--primary);
    color: var(--light);
}

.btn-keyboard:hover{
    background-color: var(--hover-bg);
}

.btn-keyboard:focus{
    outline: none;
    background-color: var(--blue);
    box-shadow: 0 0 1rem var(--focus);
}

.btn-reset,
.btn-back{
    width: 9rem;
    text-transform: uppercase;
    background-color: var(--info);
    color: var(--light);
    margin-bottom: 1rem;
}

.btn-reset:hover,
.btn-back:hover{
    background-color: var(--hover-info);
}

.btn-reset:focus,
.btn-back:focus{
    outline: none;
}






