* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

html {
    font-family: 'Balsamiq Sans', cursive;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    max-height: 700px;
    display: flex;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

#page {
    width: 80%;
    max-width: 1100px;
    max-height: 700px;

    margin: 0 auto;
}

#page header{
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    margin-top: 35px;
    background-color: #4B0082;
    perspective: 1300px;   
    border-radius: 10px;   
    max-height: 700px;
}

main .cards {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2%;
    gap: 24px;   
            
}

main .aside1 {    
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 15px;
    margin-right: 0;
}

main .aside1 h3{
    margin-top: 10px;
}

main .aside1 h5{
    color: black;
    text-align: left;
}

main .aside1 .hide{
    display: none;
    transition: transform .5s;
}

main .aside1 img{
    max-width: 250px;
    max-height: 450px;
}

main .aside1 #jogo img{
    width: 200px;
}

main .aside1 #jogo h3{
    color: #4B0082;
    font-size: 32px;
}

main .aside2 {
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 5px;
    margin: 15px;
    margin-right: 0;
    border-radius: 10px;
}

main .aside2 .action{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    margin-right: 15px;
    padding: 10px;
    justify-content: space-between;
}

main .aside2 button {
    width: 100%;
    height: 60px;
    background-color: #000000;
    border-radius: 8px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: 0;
    margin-bottom: 20px;
    transition: background-color 400ms;
}

main .aside2 button:disabled{
    background-color: #322153;
    color: goldenrod;
    transition: background-color 400ms;
}


.memory-card {
    margin: 5px;
    position: relative;
    transform: scale(1);
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform .2s;
    background: #f5f5f5;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 15px;
    border: 2px solid black;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back-face{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.back-face img{
    width: 20%;
    height: 20%;
}

.back-face p{
    font-size: 12px;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card:active{
    transform: scale(0.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }


  